
// Shared elements styles
// -----------------------

.box {
	border: 1px solid #444;
	color: #444;
	border-radius: 5px;
	padding: 20px;
	font-size: 150%;
}

.highlighted {
	font-weight: 600;
	color: #ff5722;
}

.placeholder-logo {
	margin: 10px;
	max-width: 350px;
}