.home
	h1 CSS GRID DEMO CSCB800

	.box
		p Тази страница има за цел да бъде Демо проект и да покаже част от възможностите на CSS GRID

		p Проектът е изработен за курсът "CSCB800 Практическо въведение в софтуерното тестване" в Нов Български Университет.
		p Автор: 
			span.highlighted Мариан Радев F82365

	.box
		p За проекта са използвани предпроцесорите 
			span.highlighted SASS 
			span и 
			span.highlighted PUG

	.box
		p Демото е изграден чрез 
			span.highlighted CSS Grid
		p Различните секции могат да се достъпят чрез навигационното меню в ляво